.scriptCalendar {
  text-align: center;
  width: 480px;
  height: 450px;
}
.scriptCalendar > thead > tr > td {
  width: 50px;
  height: 50px;
}
.scriptCalendar > thead > tr:first-child > td {
  font-weight: bold;
}
.scriptCalendar > thead > tr:last-child > td {
  background-color: #ffffe6;
}
.scriptCalendar > tbody > tr > td {
  width: 50px;
  height: 50px;
}
