header {
  background: #202020;
  position: relative;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 82px;
  /* background: rgba(0, 0, 0, 0); */
  border-bottom: 2px solid #fff;
  z-index: 9;
}
header .header_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  margin-top: -2.5px;
  transform: translateX(-50%);
}
header .header_inner .logo_img {
  /* display: inline-block; */
  /* left: 0; */
  float: left;
  /* cursor: pointer; */
}
header .header_inner .logo_img img {
  width: 40px;
  height: 21px;
}
header .header_inner .logo_img a {
  font-size: 33px;
  color: #fff;
  text-decoration: none;
  line-height: 0;
  cursor: pointer;
}
header .header_inner .menu_wrapper {
  float: right;
}
ul {
  list-style: none;
}
header #menu li {
  float: left;
  width: 110px;
  text-align: center;
}
header #menu li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
header .floting_bar {
  position: absolute;
  top: 43px;
  width: 110px;
  height: 2px;
  background: #ffcc00;
  transition: 0.5s all;
}
header #menu li.on a {
  color: #ffcc00;
}
header #menu li:hover a {
  font-size: 1.1em;
  font-weight: bold;
  color: #ffcc00;
}
