.maxsizing {
  width: 100%;
}
.manager-manubar__text {
  color: black;
}
.membersearch--input {
  width: 200px;
}
.membersearch-box {
  margin-top: 40px;
  margin-left: 40%;
}
.membersearch--label {
  font-size: large;
  font-weight: bold;
}
.membersearch__member_box {
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
}
.membersearch__member_detail_box {
  width: 500px;
  height: 500px;
  background-color: black;
}

.membersearch__member_edit_box {
  margin-left: 100px;
}
