.cont_header {
  background: #202020;
  line-height: 7;
}
.cont_header .cont_wrapper {
  width: 1200px;
  margin: 0 auto;
  font-family: "Montserrat", Noto Sans KR, sans-serif;
  text-align: center;
  color: #fff;
}

.tabtype {
  margin: 50px 0 50px 0;
}
.tabtype_wrapper {
  width: 1000px;
  margin: 0 auto;
}
.tabtype .tabtype_wrapper li {
  display: inline-block;
  width: 19.3%;
}
.tabtype .tabtype_wrapper button {
  width: 100%;
  height: 40px;
  box-shadow: 0 20px 40px rgba(17, 20, 39, 0.1);
  background-color: #fff;
  border: 0;
  font-weight: 900;
  font-family: "Montserrat", Noto Sans KR, sans-serif;
  cursor: pointer;
  font-size: 20px;
}
.tabtype .tabtype_wrapper li a {
  text-decoration: none;
}
.tabtype .tabtype_wrapper button:hover {
  background-color: #ffcc00;
  color: white;
}
.tabtype button.on {
  background-color: #202020;
  color: #ffffff;
}

section {
  width: 1000px;
  margin: 0 auto;
}
section .section-left {
  float: left;
  line-height: 2;
}
section .section-left .title span {
  font-size: 30px;
  font-weight: 700;
  line-height: 3;
}
section .section-left > ul > li strong {
  float: left;
  width: 90px;
}
section .section-left > ul > li .pre_line {
  display: inline-block;
  white-space: pre-line;
  color: #928989;
  font-size: 13px;
}
section .section-right {
  text-align: end;
  margin: 0 0 50px;
}
section .section-right img {
  width: 55%;
}

.notice {
  width: 1000px;
  margin: 0 auto;
  color: #928989;
  font-size: 14px;
}
.notice .section-header {
  line-height: 2;
  text-align: center;
  margin: 0 0 50px;
}
.notice .section-body img {
  width: 100%;
  height: unset;
}
.notice .section-foot-left {
  text-align: center;
  float: left;
  margin: 0px -19px;
}
.notice .section-foot-right {
  text-align: center;
  position: relative;
  left: 60px;
}
.notice .section-foot-left h2,
.notice .section-foot-right h2 {
  color: #202020;
  margin: 25px 0 25px;
}
.notice .section-foot-left p,
.notice .section-foot-right p {
  margin: 0px 0 30px;
}
