/* 공통적으로 사용되는 코드*/
.btn_align_center {
  text-align: center;
}

/* 회원 관리용 CSS코드 */
.manager-manubar__text {
  color: black;
}
.membersearch--input {
  width: 200px;
}
.membersearch-box {
  margin-top: 40px;
  text-align: center;
}
.membersearch--label {
  font-size: large;
  font-weight: bold;
  margin-bottom: 15px;
}
.membersearch__member_box {
  margin-top: 50px;
  justify-content: center;
  margin-bottom: 200px;
  display: flex;
}
.membersearch__member_detail_box {
  width: 500px;
  height: 500px;
  background-color: whitesmoke;
  text-align: center;
  padding-top: 30px;
  border-radius: 50px;
}
.member-icon-box {
  font-size: 100pt;
}
.membersearch__member_edit_box {
  margin-left: 100px;
  padding-top: 100px;
}

/* 상품 관리용 CSS코드*/

.product_title_box {
  text-align: center;
  margin-top: 30px;
}
.product_table_Box {
  margin-top: 40px;
  margin-left: 10%;
  width: 80%;
  margin-bottom: 50px;
}

/* 매출 관리용 CSS코드 */

.finance__manager {
  margin-top: 50px;
  justify-content: center;
  margin-bottom: 200px;
  display: flex;
}

.finance__graph__box {
  text-align: center;
}

.finance__graph {
  margin-top: 20px;
  width: 500px;
  height: 500px;
  background-color: whitesmoke;
  text-align: center;
  padding-top: 30px;
  border-radius: 50px;
}

.finance__table {
  margin-left: 100px;
}
